div.col_pager {
    display: inline-block;
    margin: 20px 0;
    padding-left: 0;
    text-align: center;
    width: 100%
}

div.button-pager li {
    background: #ccc;
    color: #fff;
    display: inline-block;
    float: none;
    list-style-type: none;
    margin: 0 4px;
    min-height: 34px;
    min-width: 34px;
    padding: 7px 10px;
    vertical-align: middle
}

div.button-pager li a img {
    display: block;
    margin-top: 3px
}

div.button-pager li.button-pager a {
    margin: -7px -12px;
    padding: 7px 12px
}

div.button-pager li.button-rpager {
    background: #40A640;
    color: #fff
}

div.button-pager li:hover {
    background: #87ff88
}

div.button-pager li a:hover {
    color: #fff;
    text-decoration: none
}

.price {
    display: inline-block;
    line-height: 1
}

.vitrine-button {
    background-color: #08BC08;
    border-radius: 8px;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    text-align: center;
    width: 90%
}

.vitrine-button a {
    color: #fff;
    font-weight: 700;
    letter-spacing: .6px;
    padding: 10px;
    text-transform: uppercase;
    transition: .2s;
    width: 100%
}

.vitrine-button .prod-info {
    display: none
}

.vitrine-button a {
    outline: 0;
    text-decoration: none
}

.vitrine-button:hover {
    background-color: #5B21A5;
    transition: .2s
}

.product {
    border-radius: 6px;
    transition: .1s
}

.product:hover {
    border: 1px solid #5B21A5;
    box-shadow: 0 0 5px 2px #5B21A5;
    transition: .1s
}

.svgahora18 {
    left: -3%;
    width: 26%
}

.priceahora {
    color: #595959
}

.price,
.priceahora {
    font-weight: 600
}

.product h4,
.product h4 a {
    color: #000;
    font-weight: 400
}

.product .image {
    overflow: visible
}

.cajaprecio {
    bottom: 0;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 100%
}

.product {
    position: relative
}

.description {
    margin-bottom: 8em
}

@media screen and (min-width:769px) and (max-width:800px) {
    .price {
        font-size: 20px /*17px*/
    }

    .description {
        height: 110px !important;
        margin-bottom: 10em
    }
}

@media screen and (min-width:850px) and (max-width:1000px) {
    .price {
        font-size: 22px /*17px*/
    }

    .description {
        margin-bottom: 10em
    }
}

@media screen and (max-width:768px) {
    .description {
        margin-bottom: 7em
    }
}

div#barrahormiga {
    margin-right: auto
}

#7370 .product .image .svgahora18 {
    width: 50%
}

.btnart {
    float: left;
    font-size: 1em;
    margin: 0;
    padding: 0
}

.btnart,
.btnart:active,
.btnart:focus,
.btnart:hover {
    background: 0 0;
    border: none;
    box-shadow: none;
    color: #666
}

.btnart:active,
.btnart:focus,
.btnart:hover {
    text-decoration: none
}

.menuart {
    border-radius: .28571em
}

.menuart a.dropdown-item {
    color: #666 !important;
    font-weight: 400 !important
}

.dropdown-toggle:after,
span.navbar-toggler-icon {
    color: #3483fa
}

.dropdown-toggle:hover {
    color: #333
}

.dropart:active,
.dropart:focus,
.dropart:hover {
    background: 0 0;
    border: none;
    box-shadow: none;
    text-decoration: none
}

.menuart a.dropdown-item:focus,
.menuart a.dropdown-item:hover {
    background-color: rgba(0, 0, 0, .04);
    color: #2968c8;
    text-decoration: none;
    transition: background-color .1s ease-out
}

div#barrahormiga {
    background: 0 0;
    border: 0;
    margin-top: 0;
    padding: 0
}

div.filtros_left h3,
li.menuLatTit {
    background: 0 0;
    color: #5B21A5 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 1.25;
    margin-bottom: 10px;
    padding: 0
}

div.nav_subcat_p li,
div.nav_subcat_p li a,
ul.filtros,
ul.marcas {
    color: #666;
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 6px;
    text-transform: capitalize;
    white-space: nowrap
}

.barraformato {
    display: inline-block;
    margin: 0 0 10px;
    padding: 0;
    position: relative;
    width: 100%
}

.cantidadfiltros {
    color: #999;
    font-size: 14px;
    font-weight: 300;
    margin-left: 6px
}

#resbusqueda .cantidad {
    color: #333;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
    margin-bottom: 2em;
    margin-top: 10px;
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content
}

#resbusqueda strong {
    word-wrap: break-word;
    color: #333 !important;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    padding-right: 16px;
    position: relative;
    z-index: 1
}

#barrahormiga .col-md-12 {
    padding: 0
}

.ordenpub {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    margin: 0 0 12px;
    text-align: initial
}

#articulos ul li:nth-of-type(1n+15) {
    display: none
}

#categoriasopciones span,
#marcasopciones span,
#subcategoriasopciones span {
    color: #3483fa;
    font-size: 14px;
    font-weight: 400;
    transition: color .2s ease-in-out
}

#categoriasopciones,
#marcasopciones,
#subcategoriasopciones {
    display: block
}

div#articulos.container {
    margin-top: 2em
}

#catysub li a {
    color: #666;
    float: none;
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.45;
    margin: 0 0 24px;
    padding: 0
}

#catysub li a:hover {
    color: #333;
    text-decoration: none
}

#catysub>.catdeschormiga,
#catysub>.subcatdeschormiga {
    display: inline-block;
    font-weight: 400;
    line-height: 1.45;
    margin: 0 0 16px
}

.term-item label {
    margin-bottom: 0
}

.menuUl.term-list,
.nav_subcat_p {
    margin-bottom: 2em
}

.fa.fa-bars {
    color: #fff
}

@media screen and (max-width:768px) {
    div#articulos.container {
        margin-top: 0
    }
}

@media (max-width:480px) {
    #searchresult {
        margin-top: 1em
    }

    #resbusqueda .cantidad {
        margin-bottom: 1em
    }

    div.barraformato {
        width: auto
    }

    .dropdown.dropart button,
    div.barraformato {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center
    }

    .dropdown.dropart button {
        width: 100%
    }
}

#abrirpanelcarrito.dropdown-toggle:after {
    color: #fff
}

@media screen and (max-width:768px) {
    div#articulos.container {
        margin-top: 1em
    }
}

#catysub {
    margin-bottom: 0
}

div#barrahormiga .filtroOrden {
    background: 0 0;
    border: none;
    font-size: 1em;
    padding-left: 11px
}

.term-item {
    list-style: none
}

.button-pager li a,
.term-item,
ul.menuUl li label {
    cursor: pointer
}

.entregaInmediata {
    left: -2%;
    position: absolute;
    top: 1%;
    width: 60%;
    z-index: 1
}

.botonfiltrar {
    border: 1px solid #ccc;
    display: none;
    font: normal 16px open sans, sans-serif;
    padding: 8px
}

@media (max-width:768px) {
    .botonfiltrar {
        display: block;
        margin-bottom: .8em;
        text-align: center;
    }
}

.svgahora18 {
    left: auto;
    position: absolute;
    right: 1%;
    top: 0;
    width: 27% !important;
    z-index: 1
}

.entregaInmediata {
    left: 2.5%;
    width: 55%
}

.price small {
    font-size: x-small;
    vertical-align: super
}

.priceahora small {
    font-size: auto;
    vertical-align: super
}

.description {
    height: 60px;
    margin-bottom: 0
}

.product .image {
    background: linear-gradient(180deg, #fff, #eee);
    width: 100%
}

.image,
.product .image a img,
img.img-responsive {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    mix-blend-mode: multiply;
    /*padding: 1.5% 2.5%*/
}

.product h4 a {
    color: #595959;
    font-size: 14px;
    font-weight: bold
}

.price {
    color: #464646; /*#5B21A5;*/
    font-weight: bold;
}

.product h4 a:hover {
    font-size: 14px
}

@media (max-width:768px) {
    .price {
        font-size: 17px !important
    }
}

.cajaprecio {
    margin-top: 1em;
    position: relative
}

div.button-pager li.button-pager,
div.button-pager li.button-rpager {
    font-weight: 400
}
