    .blog-home select, .blog-home option{
	padding: 0;
	outline: none;
	height: 2rem;
	width: 200px;
	  background: white !important;
  }
  .right-posts{
  	border: 1px solid #ccc;
    border-radius: 4px;
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    padding-bottom: 1em;
	background-color: white;
  }
  .dark .right-posts{
  	background-color: #1f2122;
  }
  .actual-post-body{
  	margin-bottom: 1em;
  }
	.blog-home, .blog-post{
	  padding: 0 45px 0 54px;
	  margin: 1.5% auto 0;
	  max-width: 1624px;
	  margin-right:auto !important;
	  margin-left:auto !important;
	}
  
    .blog-home-post{
        padding: 1em;
	  	margin-bottom: 1em;
	  	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
		border-radius: 4px;
		border: 1px rgba(0,0,0,.1) solid;
	  	background-color: white;
    }
  
.blog-post {
	border: 1px solid #726c6c;
	box-shadow: 1px 2px 4px 1px rgb(0 0 0 / 44%);
	margin: 1em;
	padding: 1em;
	margin-bottom: 1em;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	border-radius: 4px;
	border: 1px rgba(0,0,0,.1) solid;
	background-color: white;
	margin-top: 4em;
}
  #appblog iframe {
	width: 100%;
	padding: 1em;
}
  
  .post-body{
	display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow-wrap: anywhere; 
  }
  
  .post-image{
  	margin-right: 0;
	overflow: hidden;
  }
	
  .blog-post hr{
  	width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .blog-home-post:hover {
    background-color: beige !important;
    cursor: pointer;
	}
  .post-tag{
  	margin-bottom: auto;
    background-color: #80808000;
    box-shadow: 1px 2px 4px 1px rgb(0 0 0 / 14%);
    border-radius: 5px;
    padding: 0.2em;
    border: 1px solid #0000002b;
  }
  .body-content {
    margin-bottom: auto;
}
  
  .post-date{
  	color: #999;
  }
    .dark .blog-home{
  	background-color: rgb(32 35 36) !important;
  }
  .dark .blog textarea, .dark .blog input, .dark .blog select, .dark .blog .option, .dark input:-internal-autofill-selected, .dark .select-tag {
  	background-color: #2a2b2c !important;
  }
  
  .dark #appblog h1, .dark #appblog h2, .dark #appblog h3, .dark #appblog p, .dark #appblog h4, .dark .blog-post *{
  	color: rgb(176, 169, 159) !important;
  }
  .dark .blog-home-post:hover {
    background-color: #464646 !important;
}
.select-tag{
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}  
  .post-info{
  	display: flex;
    align-items: center;
    justify-content: center;
  }  
  
@media (max-width:768px) {
.post-tag, .post-title{
    margin-top: 0.5em;
}
.post-date{
    margin-top: 2em;
}
  .post-image img{
  width: -webkit-fill-available;
  }
}
  @media (min-width:768px) {
	.right-posts.desktop {
display:flex;
}
	.col-md-9.mobile {
display:none;
}
  }  
  @media (max-width:768px) {
	.right-posts.desktop {
display:none;
}
	.col-md-9.mobile {
display:block;
}
  }    
  
  
  
  .wp-block-table {
	margin: 0 0 1em;
	overflow-x: auto;
}
table, th, td {
	border: 1px solid #ddd;
}
table {
	width: 100%;
	margin: 0 0 1.75em;
	font-size: 90%;
}
table {
	width: 100%;
	margin: 0 0 1.75em;
	border-spacing: 0;
	border-collapse: separate;
	border-width: 1px 0 0 1px;
}
.wp-block-table table {
	border-collapse: collapse;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.wp-block-table td, .wp-block-table th {
	border: 1px solid;
	padding: .5em;
	word-break: normal;
}
caption, th, td {
	font-weight: 400;
	text-align: left;
}