.slick-list,
.slick-slider,
.slick-track {
    display: block;
    position: relative
}

.slick-loading .slick-slide,
.slick-loading .slick-track {
    visibility: hidden
}

.slick-slider {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -khtml-user-select: none
}

.slick-list {
    margin: 0;
    overflow: hidden;
    padding: 0
}

.slick-list:focus {
    outline: 0
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    transform: translateZ(0)
}

.slick-track {
    left: 0;
    top: 0
}

.slick-track:after,
.slick-track:before {
    content: "";
    display: table
}

.slick-track:after {
    clear: both
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block;
    height: 50px
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-vertical .slick-slide {
    border: 1px solid transparent;
    display: block;
    height: auto
}

.slick-arrow.slick-hidden {
    display: none
}

.brand-carousel,
.imageShowCase {
    display: none !important
}

.brand-carousel.slick-initialized,
.imageShowCase.slick-initialized {
    display: block !important
}

.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1
}

.owl-carousel .owl-stage {
    position: relative;
    touch-action: manipulation
}

.owl-carousel .owl-stage:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden
}

.owl-carousel .owl-stage-outer {
    overflow: hidden;
    position: relative
}

.owl-carousel .owl-item {
    float: left;
    min-height: 1px
}

.owl-carousel .owl-item img {
    width: auto
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
    display: block
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: 0 0;
    border: none;
    color: inherit;
    font: inherit;
    padding: 0 !important
}

.owl-carousel.owl-loading {
    display: block;
    opacity: 0
}

.owl-carousel.owl-hidden {
    opacity: 0
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden
}

.owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab
}

.owl-carousel.owl-rtl {
    direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
    float: right
}

.owl-carousel .animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
    z-index: 0
}

.owl-carousel .owl-animated-out {
    z-index: 1
}

.owl-carousel .fadeOut {
    animation-name: a
}

@keyframes a {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.owl-height {
    transition: height .5s ease-in-out
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity .4s ease
}

.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
    max-height: 0
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d
}

.owl-carousel .owl-video-wrapper {
    background: #000;
    height: 100%;
    position: relative
}

.owl-carousel .owl-video-play-icon {
    background: url(owl.video.play.png) no-repeat;
    cursor: pointer;
    height: 80px;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    position: absolute;
    top: 50%;
    transition: transform .1s ease;
    width: 80px;
    z-index: 1
}

.owl-carousel .owl-video-play-icon:hover {
    transform: scale(1.3)
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
    display: none
}

.owl-carousel .owl-video-tn {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    opacity: 0;
    transition: opacity .4s ease
}

.owl-carousel .owl-video-frame {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1
}

.flex-container a:active,
.flex-container a:focus,
.flexslider a:active,
.flexslider a:focus {
    outline: 0
}

.flex-control-nav,
.flex-direction-nav,
.slides {
    list-style: none;
    margin: 0;
    padding: 0
}

.flex-control-nav {
    display: none
}

.flexslider {
    margin: 0 auto;
    padding: 0;
    width: 100%
}

.flexslider .slides>li {
    display: none
}

.flexslider .slides img {
    display: block;
    height: auto;
    line-height: 1
}

.flex-pauseplay span {
    text-transform: capitalize
}

.slides:after {
    clear: both;
    content: "\0020";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden
}

html[xmlns] .slides {
    display: block
}

* html .slides {
    height: 1%
}

.no-js .slides>li:first-child {
    display: block
}

.flexslider {
    zoom: 1;
    background: #fff;
    border: 0 solid #fff;
    border-radius: 0;
    -o-box-shadow: 0 0 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 0 rgba(0, 0, 0, .2);
    margin: 0 AUTO;
    position: relative
}

.flex-viewport {
    max-height: 2000px;
    transition: all 1s ease
}

.loading .flex-viewport {
    max-height: 300px
}

.flexslider .slides {
    zoom: 1
}

.carousel li {
    margin-right: 5px
}

.flex-direction-nav a {
    color: rgba(0, 0, 0, .8);
    cursor: pointer;
    display: block;
    height: 40px;
    margin: -20px 0 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .3);
    top: 50%;
    transition: all .3s ease;
    width: 40px;
    z-index: 3
}

.flex-direction-nav .flex-prev {
    left: -50px
}

.flex-direction-nav .flex-next {
    right: -50px;
    text-align: right
}

.flexslider:hover .flex-prev {
    left: 10px;
    opacity: .7
}

.flexslider:hover .flex-next {
    opacity: .7;
    right: 10px
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
    opacity: 1
}

.flex-direction-nav .flex-disabled {
    cursor: default;
    opacity: 0 !important
}

.flex-direction-nav a:before {
    display: inline-block;
    font-family: flexslider-icon;
    font-size: 40px
}

.flex-pauseplay a {
    bottom: 5px;
    color: #000;
    cursor: pointer;
    display: block;
    height: 20px;
    left: 10px;
    opacity: .8;
    overflow: hidden;
    position: absolute;
    width: 20px;
    z-index: 3
}

.flex-pauseplay a:before {
    display: inline-block;
    font-family: flexslider-icon;
    font-size: 20px
}

.flex-pauseplay a:hover {
    opacity: 1
}

.flex-control-nav {
    background: rgba(255, 255, 255, .5);
    bottom: 0;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 4
}

.flex-control-nav li {
    zoom: 1;
    display: inline-block;
    margin: 0 6px
}

.flex-control-paging li a {
    background: #666;
    background: rgba(0, 0, 0, .5);
    border-radius: 20px;
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    cursor: pointer;
    display: block;
    height: 11px;
    text-indent: -9999px;
    width: 11px
}

.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, .7)
}

.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, .9);
    cursor: default
}

.flex-control-thumbs {
    margin: 5px 0 0;
    overflow: hidden;
    position: static
}

.flex-control-thumbs li {
    float: left;
    margin: 0;
    width: 25%
}

.flex-control-thumbs img {
    cursor: pointer;
    display: block;
    opacity: .7;
    width: 100%
}

.flex-control-thumbs img:hover {
    opacity: 1
}

.flex-control-thumbs .flex-active {
    cursor: default;
    opacity: 1
}

@media screen and (max-width:860px) {
    .flex-direction-nav .flex-prev {
        left: 10px;
        opacity: 1
    }

    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 10px
    }
}

@media screen and (min-width:769px) {
    .gb-offers-carousel-head {
        background-color: #fff;
        bottom: 0;
        display: inline-block;
        height: 100%;
        left: -11px;
        position: relative;
        text-align: center;
        top: 160px;
        vertical-align: middle
    }

    .gb-offers-carousel-head .gb-offers-carousel-head-content {
        color: #000;
        display: inline-block;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-58%);
        vertical-align: middle;
        width: 240px;
        z-index: 2
    }

    .gb-offers-carousel-head h3 {
        font-size: 22px;
        font-weight: 700;
        line-height: 44px
    }

    .gb-offers-carousel-head h3 strong {
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: block;
        display: -webkit-box;
        font-size: 36px;
        line-height: 40px;
        max-height: 80px;
        max-width: 100%;
        overflow: hidden;
        padding: 0 15px;
        text-overflow: ellipsis
    }

    .gb-offers-carousel-clock {
        margin: 10px 0
    }

    .gb-offers-carousel-clock div:first-of-type {
        margin-left: 0
    }

    .gb-offers-carousel-clock div {
        display: inline-block;
        margin-left: 10px;
        position: relative;
        text-align: center;
        width: 45px
    }

    #time-mov2 {
        display: 0;
        margin-left: 0;
        position: 0;
        text-align: 0;
        width: 0
    }

    .gb-offers-carousel-clock div em {
        color: #01f603;
        display: block;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 3px
    }

    .gb-offers-carousel-clock div span {
        color: #9e9e9e;
        display: block;
        font-size: 12px
    }

    .gb-offers-carousel .gb-offers-carousel-head .gb-button {
        margin-top: 10px
    }

    .gb-button.primary {
        background-color: #0084e0;
        border: 1px solid transparent;
        border-bottom: 2px solid #016ab3;
        color: #fff
    }

    .gb-button,
    .gb-button.primary {
        font-size: 14px;
        font-weight: 600;
        height: 40px;
        line-height: 40px;
        transition: background-color .2s ease-out, border-color .2s ease-out;
        white-space: nowrap
    }

    .gb-button {
        background-color: #e2e2e2;
        border: 1px solid transparent;
        border-bottom: 2px solid #9e9e9e;
        border-radius: 3px;
        -khtml-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        color: #333;
        cursor: pointer;
        display: inline-block;
        outline: none;
        padding: 0 25px;
        position: relative
    }

    .gb-button,
    .gb-offers-carousel .gb-offers-carousel-head {
        text-align: center
    }

    .owl-stage-outer {
        margin-left: 240px
    }

    .row.owl-carousel.owl-theme.owl-loaded.owl-drag {
        background: #fff;
        border: 1px solid #e2e2e2;
        margin-left: auto;
        margin-right: auto;
        max-width: 1250px
    }

    .container.rubros-destacados,
    div.container#container {
        margin-bottom: 1%;
        margin-top: 2%;
        max-width: 1250px
    }

    .owl-nav {
        display: none
    }

    section#novedades_home div.owl-carousel .col-md-prod .product,
    section#ofertas_home div.owl-carousel .col-md-prod .product {
        border: 0
    }

    .product:hover {
        border: 1px solid #e2e2e2;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .33)
    }
}

@media (max-width:768px) {
    .gb-offers-carousel-head-content {
        line-height: 20px;
        margin-bottom: 9px;
        margin-top: 5px;
        text-align: center
    }

    .gb-offers-carousel-clock p {
        font-size: 24px;
        margin-top: 4px
    }

    .gb-offers-carousel-head-content h3 {
        font-size: 20px
    }

    #time-mov {
        margin-top: 12px
    }

    #time-mov,
    #time-mov2 {
        display: inline-flex;
        min-width: 38px
    }

    #time-mov2 {
        left: 5%;
        margin-top: 6px;
        position: absolute
    }

    .gb-offers-carousel-clock span {
        color: #fff;
        margin-left: 2px;
        margin-right: 2px;
        margin-top: 8px
    }

    .gb-offers-carousel-clock {
        background: #000;
        border-radius: 13px;
        height: 55px;
        margin-top: 10px;
        text-align: end
    }

    #segundos {
        margin-right: 10px
    }

    #novedades_home div.container {
        background: #fff;
        border: 1px solid #e2e2e2;
        margin-left: auto;
        margin-right: auto
    }
}

@media (max-width:1134px) {
    .dropdown-menu .sub-menu .row.subitem {
        font-size: 12px;
        max-width: 790px
    }

    #menu1 {
        min-height: 868px
    }

    #menu1 a {
        font-size: 12px
    }

    .gb-category-grid-item.hover-box {
        background-size: 118%;
        max-height: 255px
    }

    .gb-offers-carousel-clock div em {
        color: #01f603;
        display: block;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 3px
    }

    .owl-dot,
    .owl-nav {
        display: none
    }

    section#novedades_home div.owl-carousel .col-md-prod .product,
    section#novedades_prearmada div.owl-carousel .col-md-prod .product,
    section#ofertas_home div.owl-carousel .col-md-prod .product {
        border: 0
    }

    .product:hover {
        border: 1px solid #e2e2e2;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .33)
    }

    #novedades_home {
        margin-top: 50px
    }
}

@media (max-width:1100px) {
    .homesvg.col-md-2.col-xs-6 {
        flex: 0 0 33.33%;
        max-width: 33.33%
    }
}

@media (max-width:800px) {
    .homesvg.col-md-2.col-xs-6 {
        flex: 0 0 50%;
        max-width: 50%
    }
}

.price {
    color: #01f603
}

.rubros-destacados h2 {
    background-color: transparent;
    color: #60c;
    font-size: x-large;
    font-weight: bolder;
    margin-top: -20px;
    padding: 5px 1px;
    position: sticky
}

.homesvg.col-md-2.col-xs-6:hover {
    opacity: 1;
    transform: scale(1.2)
}

.homesvg.col-md-2.col-xs-6,
.homesvg.col-md-2.col-xs-6:hover {
    transition: all .3s ease
}

body {
    background: #f1f1f1
}

@media screen and (min-width:769px) {
    .owl-stage-outer {
        border-left: 1px ridge #ececec
    }
}

.gallery {
    grid-gap: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr)
}

.gallery__img {
    display: block;
    filter: saturate(90%)contrast(98%)brightness(1.05);
    height: 100%;
    object-fit: fill;
    opacity: .98;
    width: 100%
}

.gallery__item--1 {
    grid-column-end: 3;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-row-start: 1;
    margin: 5%
}

.gallery__item--2 {
    grid-column-end: 7;
    grid-column-start: 3;
    grid-row-end: 9;
    grid-row-start: 1;
    margin-left: 0;
    margin-right: 0
}

.gallery__item--3 {
    grid-row-end: 5;
    grid-row-start: 1
}

.gallery__item--3,
.gallery__item--4 {
    grid-column-end: 9;
    grid-column-start: 7;
    margin: 5%
}

.gallery__item--4,
.gallery__item--5 {
    grid-row-end: 9;
    grid-row-start: 5
}

.gallery__item--5 {
    grid-column-end: 3;
    grid-column-start: 1;
    margin: 5%
}

div.contenedor {
    margin: 0 auto;
    max-width: 1250px
}

.gallery__img:hover {
    box-shadow: 0 0 5px 2px #01f603;
    text-decoration: none
}

.gallery__img,
.gallery__img:hover {
    transition: all .3s ease
}

.gallery__img {
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1)
}

.flexslider,
.flexslider .slides>li {
    background: #f1f1f1
}

.gallery2 {
    grid-gap: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr)
}

.gallery2__item--1 {
    grid-column-end: 4;
    grid-column-start: 4;
    margin: 5%
}

.gallery2__item--2 {
    grid-column-end: 3;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 1;
    margin: 2.5% 0 2.5% 2%
}

.gallery2__item--3 {
    grid-column-end: 6;
    grid-column-start: 5;
    margin: 5%
}

.gallery2__item--4 {
    grid-column-end: 7;
    grid-column-start: 6;
    margin: 5%
}

.gallery2__item--5 {
    grid-row-end: 2;
    grid-row-start: 1
}

.gallery2__item--5,
.gallery2__item--6 {
    grid-column-end: 4;
    grid-column-start: 3;
    margin: 5%
}

.gallery2__item--6 {
    grid-row-end: 3;
    grid-row-start: 2
}

.gallery2__item--7 {
    grid-column-end: 5;
    grid-column-start: 4
}

.gallery2__item--7,
.gallery2__item--8 {
    grid-row-end: 3;
    grid-row-start: 2;
    margin: 5%
}

.gallery2__item--8 {
    grid-column-end: 6;
    grid-column-start: 5
}

.gallery2__item--9 {
    grid-column-end: 7;
    grid-column-start: 6;
    grid-row-end: 3;
    grid-row-start: 2;
    margin: 5%
}

div.contenedor2 {
    margin: 0 auto;
    max-width: 1240px
}

.gb-home-module {
    padding: 20px 0 0
}

.card-body {
    padding: 0
}

.gb-brand-module .gb-brand-list {
    background-color: #fff;
    border: 1px solid #e2e2e2;
    display: table;
    height: 100px;
    padding-left: 0;
    padding-right: 0;
    table-layout: fixed;
    width: 100%
}

.gb-brand-module .gb-brand-list li:first-child {
    border-left: none
}

.gb-brand-module .gb-brand-list li {
    border-left: 1px solid #e2e2e2;
    display: table-cell;
    height: 100%;
    vertical-align: middle
}

.swiper-slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    width: 100%
}

.hover-box {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .33);
    transition: all .15s linear
}

.gb-brand-module .gb-brand-list li a {
    display: block;
    outline: none;
    padding: 10px;
    text-align: center
}

.gb-brand-module .gb-brand-list li a svg {
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all .3s ease
}

.gb-brand-module .gb-brand-list li a img {
    display: block;
    height: 80px;
    margin: 0 auto;
    max-height: 100px;
    max-width: 100%;
    transition: all .2s ease-in-out;
    width: 160px
}

.gb-brand-module .gb-brand-list li a:hover svg {
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
    transform: scale(1.05);
    transition: all .3s ease
}

@media (max-width:768px) {
    section.slice.bg-3.animate-hover-slide-3 {
        padding: 15px 0
    }

    .gallery {
        grid-gap: 0;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(37, 5vw)
    }

    .gallery__img {
        display: block;
        filter: saturate(90%)contrast(98%)brightness(1.05);
        height: 100%;
        object-fit: fill;
        opacity: .98;
        width: 100%
    }

    .gallery__item--1 {
        grid-column-end: 6;
        grid-column-start: 1;
        grid-row-end: 29;
        grid-row-start: 20;
        margin: 3%
    }

    .gallery__item--2 {
        grid-column-end: 11;
        grid-column-start: 1;
        grid-row-end: 20;
        grid-row-start: 1;
        margin-left: 1%;
        margin-right: 1%
    }

    .gallery__item--3 {
        grid-column-end: 11;
        grid-column-start: 6;
        grid-row-end: 29;
        grid-row-start: 20;
        margin: 3%
    }

    .gallery__item--4 {
        grid-column-end: 6;
        grid-column-start: 1
    }

    .gallery__item--4,
    .gallery__item--5 {
        grid-row-end: 38;
        grid-row-start: 29;
        margin: 3%
    }

    .gallery__item--5 {
        grid-column-end: 11;
        grid-column-start: 6
    }

    .gallery2 {
        grid-gap: 0;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(58, 5vw)
    }

    .gallery2__item--1 {
        grid-column-end: 11;
        grid-column-start: 6;
        grid-row-end: 29;
        grid-row-start: 20;
        margin: 3%
    }

    .gallery2__item--2 {
        grid-column-end: 11;
        grid-column-start: 1;
        grid-row-end: 20;
        grid-row-start: 1;
        margin-left: 1%;
        margin-right: 1%
    }

    .gallery2__item--3 {
        grid-column-end: 6;
        grid-column-start: 1
    }

    .gallery2__item--3,
    .gallery2__item--4 {
        grid-row-end: 38;
        grid-row-start: 29;
        margin: 3%
    }

    .gallery2__item--4 {
        grid-column-end: 11;
        grid-column-start: 6
    }

    .gallery2__item--5 {
        grid-row-end: 29;
        grid-row-start: 20
    }

    .gallery2__item--5,
    .gallery2__item--6 {
        grid-column-end: 6;
        grid-column-start: 1;
        margin: 3%
    }

    .gallery2__item--6,
    .gallery2__item--7 {
        grid-row-end: 48;
        grid-row-start: 38
    }

    .gallery2__item--7 {
        grid-column-end: 11;
        grid-column-start: 6;
        margin: 3%
    }

    .gallery2__item--8 {
        grid-column-end: 6;
        grid-column-start: 1
    }

    .gallery2__item--8,
    .gallery2__item--9 {
        grid-row-end: 58;
        grid-row-start: 48;
        margin: 3%
    }

    .gallery2__item--9 {
        grid-column-end: 11;
        grid-column-start: 6
    }

    #novedades_home {
        margin-top: 0
    }

    .container.rubros-destacados,
    .gb-home-module,
    .slider.slider2,
    div.container#container,
    section.slice.bg-3.animate-hover-slide-3 {
        border-radius: 4px;
        margin-bottom: 0;
        margin-top: 8%;
        padding-bottom: 0;
        padding-top: 0
    }

    .rubros-destacados h2 {
        font-size: 100% !important
    }

    .homesvg.col-md-2.col-xs-6 {
        flex: 0 0 33%;
        max-width: 33%
    }
}

.gb-brand-module .gb-brand-list,
.row.owl-carousel.owl-theme.owl-loaded.owl-drag {
    border-radius: 4px
}

section.slider2 .flexslider .slides img {
    background: #f1f1f1
}

.container.rubros-destacados,
.gb-home-module,
.slider.slider2,
div.container#container,
section.slice.bg-3.animate-hover-slide-3 {
    margin-bottom: 0;
    margin-top: 4%;
    padding-bottom: 0;
    padding-top: 0
}

section#novedades_notebook div.owl-carousel .col-md-prod,
section#novedades_prearmada div.owl-carousel .col-md-prod,
section#novedades_preventa div.owl-carousel .col-md-prod {
    margin: 5px 0;
    padding-left: 8px;
    padding-right: 8px;
    width: auto
}

.slider.slider2 .flexslider .flex-viewport {
    box-sizing: border-box;
    height: auto !important
}

.flexslider .slides img {
    height: 100%;
    object-fit: fill;
    width: 100%
}

.row.bajoslide {
    display: none
}

.vitrine-button {
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: .2em;
    width: 98%
}

.vitrine-button .prod-info {
    display: none
}

.vitrine-button a {
    text-decoration: none
}

.product {
    border-radius: 4px;
    transition: .1s
}

.product:hover {
    border: 1px solid #5B21A5;
    box-shadow: 0 0 5px 2px #5B21A5;
    transition: .1s
}

.svgahora18 {
    position: absolute;
    right: -1%;
    top: -1%;
    width: 35% !important;
    z-index: 1
}

.priceahora {
    color: #595959;
    font-weight: 600
}

.price {
    display: block;
    font-weight: 600
}

.product h4,
.product h4 a {
    color: #000;
    font-weight: 400
}

.product .image {
    background: linear-gradient(180deg, #fff, #d5d5d5);
    overflow: visible;
    width: 100%
}

.cajaprecio {
    bottom: 0;
    margin: 1em auto 10px;
    width: 100%
}

.cajaprecio,
.product {
    position: relative
}

@media screen and (min-width:769px) and (max-width:800px) {
    .price {
        font-size: 22px
    }
}

@media screen and (min-width:850px) and (max-width:1000px) {
    .price {
        font-size: 24px
    }
}

@media screen and (max-width:768px) {
    .priceahora {
        font-size: .9em
    }

    .product h4 a {
        font-size: 1em
    }
}

#maquinasarmadas .product {
    max-height: 25% !important
}

.boxpchome {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    margin-bottom: .5em
}

.boxpchome:hover {
    border: 1px solid #7200ff;
    box-shadow: 0 0 5px 2px #7200ff;
    padding: 0;
    transition: .1s
}

.product.boxpc:hover {
    border: 0;
    box-shadow: none;
    transition: .1s
}

.title-sol.style2:after {
    background: #000
}

@media screen and (min-width:769px) {
    .gb-offers-carousel-head .gb-offers-carousel-head-content {
        transform: translateY(-35%)
    }
}

.gb-brand-module .gb-brand-list li a svg#svghome {
    filter: contrast(0)
}

.gb-brand-module .gb-brand-list li a:hover svg#svghome {
    filter: contrast(1)
}

.row.bajoslide {
    background: #090 !important;
    color: #fff
}

.marquee {
    display: block !important;
    height: 25px;
    overflow: hidden;
    position: relative;
    width: 100%
}

.marquee div {
    animation: b 15s linear infinite;
    display: block;
    height: 30px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 200%
}

@keyframes b {
    0% {
        left: 0
    }

    25% {
        left: -25%
    }

    50% {
        left: -50%
    }

    75% {
        left: -25%
    }

    to {
        left: 0
    }
}

@media screen and (max-width:768px) {
    .row.bajoslide.marquee {
        margin-top: -1%
    }
}

.cls-1 {
    fill: #ea6c02
}

.gb-brand-module .gb-brand-list li a svg#intel,
.gb-brand-module .gb-brand-list li a svg#wd {
    fill: gray
}

.gb-brand-module .gb-brand-list li a:hover svg#intel,
.gb-brand-module .gb-brand-list li a:hover svg#wd {
    fill: #000
}

.entregaInmediata {
    left: 0;
    position: absolute;
    top: 1%;
    width: 60% !important;
    z-index: 1
}

#novedades_home,
#novedades_notebook,
#novedades_prearmada,
#novedades_preventa {
    margin-top: 4%;
    padding: 0 30px
}

@media screen and (max-width:768px) {

    #spotMiddle,
    #spotTop {
        display: none
    }

    #novedades_home,
    #novedades_notebook,
    #novedades_prearmada,
    #novedades_preventa {
        padding: 15px 0
    }
}

.owl-stage-outer {
    margin-left: auto;
    margin-right: auto
}

.solbottom {
    margin-top: 4% !important
}

#container.container {
    margin-top: 1% !important
}

@media screen and (max-width:1100px) {
    .price {
        font-size: 1.8em
    }
}

@media screen and (max-width:1030px) {
    .price {
        font-size: 1.6em
    }

    .priceahora,
    .product h4,
    .product h4 a,
    .product h4 a:hover {
        font-size: .95em
    }
}

.row.bajoslide.marquee div span b,
.row.bajoslide.marquee div span small {
    -webkit-text-fill-color: transparent;
    background: transparent -webkit-linear-gradient(red, #ffb300, #ff0) repeat scroll 0 0
}

.row.bajoslide.marquee div span small {
    font-weight: 800
}

.product-section-button {
    padding: .5em
}

.product-section-button>h3 {
    color: #403b3b;
    font-size: 1.7em;
    text-align: left
}

.product-section-button>p {
    font-size: 1.3em;
    text-align: left
}

.container.rubros-destacados {
    max-width: 1240px
}

.imagen-categoria {
    height: 100% !important;
    width: 100% !important
}

.vitrine-button {
    background-color: #08BC08;
    border-radius: 12px;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    text-align: center;
    width: 90%
}

.vitrine-button a {
    color: #fff;
    font-weight: 700;
    letter-spacing: .6px;
    padding: 10px;
    text-transform: uppercase;
    transition: .2s;
    width: 100%
}

.title-description-box {
    display: flex;
    max-width: 1240px !important
}

.title-description {
    color: #403b3b;
    font-size: 1.7em;
    font-weight: 400;
    text-transform: capitalize
}

.title-description:after {
    background: #01f603;
    content: "";
    display: block;
    height: 2px;
    margin: .74rem 0 0;
    width: 2.5rem
}

.contenedor,
.contenedor2 {
    max-width: 1240px !important
}

.gb-brand-module {
    margin-left: auto;
    margin-right: auto;
    max-width: 1240px
}

picture>img {
    border-radius: 6px
}

.entrega-inmediata,
.notebook,
.preventa {
    background: 0 0 !important;
    border: none !important;
    margin-top: 2% !important
}

@media (min-width:768px) {
    section.slider2 .flexslider .slides img {
        padding: 0 1em;
        width: 1240px !important
    }
}

.categorias-mas-buscadas {
    margin-top: 1% !important
}

#owlCarouselNotebook,
#owlCarouselNovelty,
#owlCarouselPrearmada,
#owlCarouselPreventa,
.container-carrousel-entrega-inmediata,
.container-carrousel-notebook,
.container-carrousel-preventa {
    max-width: 1240px !important
}

.image,
.product .image a img,
img.img-responsive {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    mix-blend-mode: multiply
}

div.owl-carousel .col-md-prod .product {
    padding-top: 0
}

.row.owl-carousel.owl-theme.owl-loaded.owl-drag {
    background-color: #e7eaec
}

.title-description a {
    color: #16ad00;
    font-size: 15px;
    margin-left: 25px
}

.owl-stage-outer {
    border-left: 0
}

.price {
    color: #4400AF;
    font-weight: bold;
}

.owl-carousel.owl-drag .owl-item {
    padding: .5em
}

#novedades_preventa .owl-carousel .owl-item img {
    padding: 10px
}

#novedades_notebook .owl-carousel .owl-item img {
    padding: 6px
}

#novedades_home .owl-carousel .owl-item img,
#novedades_prearmada .owl-carousel .owl-item img {
    padding: 4px
}

.card--basic.gb-brand-module.gb-home-module {
    margin-left: auto;
    margin-right: auto;
    max-width: 1210px
}

.container.rubros-destacados {
    margin-top: 0
}

.caja-productos-mas-buscados,
section.slice.bg-3.animate-hover-slide-3 {
    margin-top: 2%
}

#novedades_home,
#novedades_prearmada,
#novedades_preventa,
.animate-hover-slide-3.bg-3.slice.pcarmada {
    margin-top: 3%
}

.gb-home-module {
    margin-top: 4%
}

@media screen and (max-width:768px) {

    #novedades_home,
    #novedades_notebook,
    #novedades_prearmada,
    #novedades_preventa {
        padding: 15px 1.5%
    }

    .container.title-description-box.entrega-inmediata,
    .container.title-description-box.notebook,
    .container.title-description-box.preventa {
        padding-left: 10px;
        padding-right: 10px
    }

    .container.container-carrousel-entrega-inmediata,
    .container.container-carrousel-notebook,
    .container.container-carrousel-preventa {
        padding: 0
    }

    .categoriasprincipales {
        margin-top: 1em
    }

    .caja-productos-mas-buscados .title-description {
        margin-bottom: 0
    }

    .title-description a {
        display: block;
        margin: .5em 0
    }

    .animate-hover-slide-3.bg-3.slice.caja-productos-mas-buscados {
        margin-top: 8%
    }
}

@media screen and (min-width:769px) {

    section#novedades_notebook div.owl-carousel .col-md-prod .product,
    section#novedades_prearmada div.owl-carousel .col-md-prod .product,
    section#novedades_preventa div.owl-carousel .col-md-prod .product {
        border: 0
    }
}

#mainSlider.slider picture img {
    border-radius: 0
}

.product h4 a {
    color: #595959
}

.product h4 a,
.product h4 a:hover {
    font-size: 14px;
    font-weight: 400
}

.product h4 a:hover {
    padding: 5px
}

.caja-productos-mas-buscados .image.imagen-categoria {
    border-radius: 4px
}

.price small {
    font-size: medium;
    vertical-align: super
}

.priceahora small {
    font-size: auto;
    vertical-align: super
}

.description {
    height: 60px
}

@media (max-width:768px) {
    .price {
        font-size: 22px !important
    }
}
